<%- include('./partials/header.ejs')%>  
<title>Users Login</title>
<body>
    <div class="loginbox">
        <img src="./image/accountLogo1.png" class="avatar">
        <h1>Login Here</h1>
        <form action="home.html">
            <p>Email:</p>
            <input type="email" name="" placeholder="Enter Username" required>
            <p>Password: </p>
            <input type="password" name="" placeholder="Enter Password">
            <input type="submit" name="" value="Login">
        </form>
    </div>
</body>

<%- include('./partials/footer.ejs')%>