<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="../css/npPages.css" rel="stylesheet" type="text/css" >
</head>

<header>
    <nav>
      <ul class="firstList">
        <li class="searchBox">
          <input type="search" placeholder="Search Here">
        </li>
        <li class="fistListfirst"><a href="login.html">Log In</a></li>
      </ul>
    </nav>
    <h1 class="headerName"><a href="home.html">TraXersal</a></h1>
    <div class="dropdown">
      <button onclick="dropDown()" class="dropbtn">menu</button>
      <div id="myDropdown" class="dropdown-content">
        <a href="home.html">Home</a>
        <a href="#">State</a>
        <a href="#">Reviews</a>
        <a href="#">Contact</a>
        <a href="#">About</a>
      </div>
    </div>
  </header>