<%- include('./partials/header.ejs')%>    
<title> About </title> 
<main>
      <h3>About </h3>
      <br>
      <p>We are a group of UNCC students that aim to spend information of 
        new music and cultures. </p>
      <p>Reach out to us via twitter or instagram to know more about our program!</p>
      <div>
        <h3>Connect with us!</h3>
        <br>
        <p>Our phone number:</p>
        <p>926-444-5555</p>
      </div> 
</main>
<%- include('./partials/footer.ejs')%> 